<div class="row justify-content-center text-center">
    <div id="summary" class="col col-md-12">

        <img class="img-fluid" src="~/Images/ProfileTop.png" alt="Profile Top Picture" />
        <div  class="container container-fluid" style="border-radius: 15px 15px 15px 15px">
        <h1 class="display-4">Hello! I'm Jonathan D. Rosario</h1>
        <h2>
            Recently graduated with a Master's in Software Engineering and holding a Bachelor's in Computer Science,
            I have a profound interest in cutting-edge technologies such as cloud development, artificial intelligence, and deep learning.
        </h2>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center bg-info">
    <div class=" col-4">
        <img id="content_img" src="~/Images/DotNet.png" alt="DotNet Logo" />
    </div>
    <div class=" col-4">
        <img id="content_img" src="~/Images/Javascript.png" alt="DotNet Logo" />
    </div>
    <div class=" col-4">
        <img id="content_img" src="~/Images/Flutter.png" alt="DotNet Logo" />
    </div>
    <div class="col col-md-7 section-welcome">
        <h1>Welcome to my portfolio!</h1>
        <p>
            Recent software engineering master's graduate with a strong foundation in computer science and eight years of proven
            leadership as a shift manager at Walgreens. Eager to transition my skills and enthusiasm into a programming role,
            specializing in software development.
        </p>
        <p>
            I have a track record of practical application, including the creation of a dynamic application for Panamerican Grain
            using a mix of cutting-edge tools: Intel XDK, HTML, CSS, JavaScript, Bootstrap, and jQuery. Although not taken to
            production due to pricing differences, this experience showcases my technical prowess and collaboration skills.
        </p>
        <p>
            My academic journey culminated in a master's project using Flutter, wherein I harnessed the power of the ChatGPT
            API to develop an interactive virtual assistant. This project underscores my commitment to staying current with emerging
            technologies and my ability to integrate them into real-world solutions.
        </p>
        <p>
            Enthusiastic about embarking on a software engineering career, I am actively seeking entry-level positions that will
            leverage my passion for coding, problem-solving acumen, and experience in project management. My unique blend of
            technical skills, leadership background, and innovative mindset sets me apart as a candidate poised to make valuable
            contributions to a dynamic software development team.
        </p>
    </div>

</div>