
@{
    ViewData["Title"] = "Thanks";
}

<h1>Thank you for getting in touch with me. </h1>
<p>I will reply to your message as soon as possible </p>
<div><a asp-action="Index" asp-controller="Home">Return to Home</a></div>